# Database (PostgreSQL) - Get free account at https://neon.tech
DATABASE_URL="postgresql://user:password@host:5432/dbname?sslmode=require"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-generate-with-node-e-c-console-log-require-crypto-random-bytes-32-tostring-base64"
